.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}