
.bottom-nav-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    // background: rgb(2,180,211);
    background: rgb(39, 164, 186);
    border-top: solid 5px rgb(19, 18, 18);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 10px;
    img {
        height: 40px;
        width: 40px;
    }
    .add-button {
        height: 60px;
        width: 60px;
    }
}